/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.App-Header {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description {
  margin-bottom: 2rem;  
}
/* 4285f4 */
.custom-buttons button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  /* background-color: #8A2BE2; */
  /* color: #fff; */
  cursor: pointer;
}

.display {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.display h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.app-name {
  color: #ecb018;
}

.get-func {
  background-color: #32CD32;
  color: #f2f2f2;
}

.tx-func {
  background-color: #FFA500;
  color: #f2f2f2;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input::placeholder {
  color: #999;
}

input[type="number"] {
  width: 100px;
}

.user-balance {
  color: #0f9d58;
}

.vending-balance {
  color: #984687;
}

.hint {
  color: rgb(122, 26, 26);
}